@media only screen and (max-width: 1023px) {

}
@media only screen and (min-width: 1024px) {
    .header-wrap{
        display: flex;
        flex-direction: column;
        padding: 12px 70px 30px 70px;
        position: sticky;
        top: 0;
        z-index: 1100;
        background: #FFF;
        border-bottom: 2px solid #FF5224;
    }
    .header-top{
        display: flex;
        justify-content: flex-end;
        padding: 10px 0;
    }
    .header-top-item{
        display: flex;
        align-items: center;
        font-size: 12px;
        color: rgb(0 0 0/65%);
    }
    .header-top-item span{
        margin-left: 4px;
    }
    .header-top .header-top-item:first-child{
        margin-right: 16px;
        padding-right: 16px;
        border-right: 1px solid #D8D8D8;
    }
    .header-bottom{
        display: flex;
        justify-content: space-between;
    }
    .header-search-wrap{
        max-width: 500px;
        display: flex;
        flex: 1;
        margin: 0 80px;
    }
    .header-search {
        width: 100%;
        box-sizing: content-box;
        border: 2px solid #FF5224;
        border-radius: 20px;
        position: relative;
        height: 36px;
    }
    .header-search-input {
        text-align: left;
        font-size: 14px;
        color: rgb(0 0 0/65%);
        flex: 1;
        padding: 0 50px 0 20px;
    }
    
    .header-search-btn {
        position: absolute;
        right: -2px;
        top: -2px;
        background: #FF5224;
        width: 50px;
        height: 40px;
        border-radius: 20px;
    }
    .header-search-icon{
        display: flex;
        align-items: center;
        font-size: 13px;
        color: rgb(0 0 0/85%);
        margin-left: 42px;
    }
    .header-search-icon span{
        margin-left: 12px;
    }
}
